.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.card {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;
}
mat-form-field {
    width: 100%;
  }